{{ $resources := .Page.Resources }}
{{ $width := .Get 0 }}
<div class="gallery gallery-w-{{ $width }}">
{{ range after 1 .Params }}
    {{ $original := $resources.GetMatch (printf "%s" (.)) }}
    {{ if $original }}
        {{ $thumb2xWebp := $original.Fill "480x360 Center webp" }}
        {{ $thumb2xJpg := $original.Fill "480x360 Center" }}
        {{ $thumbWebp := $original.Fill "240x180 Center webp" }}
        {{ $thumbJpg := $original.Fill "240x180 Center" }}
        <a href="{{ $original.RelPermalink }}" target="_blank">
            <picture>
                <source type="image/webp" srcset="{{ $thumbWebp.RelPermalink }} 1x, {{ $thumb2xWebp.RelPermalink }} 2x" />
                <img src="{{ $thumbJpg.RelPermalink }}" srcset="{{ $thumb2xJpg.RelPermalink }} 2x" />
            </picture>
        </a>
    {{ end }}
{{ end }}
</div>